out/production/d2rAutoRoomName/Main.class
out/production/d2rAutoRoomName/Main$1.class
out/production/d2rAutoRoomName/.idea/d2rAutoRoomName.iml
out/production/d2rAutoRoomName/.idea/misc.xml
out/production/d2rAutoRoomName/.idea/modules.xml
out/production/d2rAutoRoomName/.idea/vcs.xml
out/production/d2rAutoRoomName/.idea/workspace.xml
